$header_font_family: 'Baloo Bhai', cursive;
$text_font_family: 'Roboto', sans-serif;

$blue: #528b8b; 
$text_color: #282828; 
$yellow: #fdf4c1;

$small_devices:768px;
$medium_devices:992px;
$large_devices:1200px;