<span class="bg-primary checkBox">
	<label for="dateOfCreation">Date of Creation</label>
	<input id="dateOfCreation" type="checkbox" name="dateOfCreation" ng-model="data.dateOfCreation">

	<label for="dateOfRecerding">  Date of Recording</label>
	<input id="dateOfRecording" type="checkbox" name="dateOfRecording" ng-model="data.dateOfRecording">

	<label for="status">Status</label>
	<input id="status" type="checkbox" name="status" ng-model="data.status">

	<label for="transactionType">Transaction Type</label>
	<input id="transactionType" type="checkbox" name="status" ng-model="data.transactionType">

	<label for="businessPartner">Business Partner</label>
	<input id="businessPartner" type="checkbox" name="businessPartner" ng-model="data.businessPartner">

	<label for="businessPartnerLocation">Business Partner Location</label>
	<input id="businessPartnerLocation" type="checkbox" name="businessPartnerLocation" ng-model="data.businessPartnerLocation">

	<label for="year">Yaer</label>
	<input id="year" type="checkbox" name="year" ng-model="data.year">
</span>
	<button class="btn btn-default btnPos"  ng-click='data.toggleShow()' href="">Close table setting</button>

	